@media screen and (max-width: 479px) {
  body{
    background: red;
    font-size: 90%;
  }

  #medium{
    display: none;
  }

  #large{
    display: none;
  }
}

@media screen and (min-width: 480px) and (max-width: 1023px) {
  body{
    background: green;
    font-size: 115%;
  }

  #small{
    display: none;
  }

  
  #medium{
    display: block;
  }

  #large{
    display: none;
  }
}

@media screen and (min-width: 1024px) {
  body{
    background: blue;
    font-size: 125%;
  }

  #small{
    display: none;
  }

  #medium{
    display: none;
  }

  #large{
    display: block;
}
