body{
  display: flex;
}

@media screen and (max-width: 479px) {
  body{
    background: red;
    font-size: 90%;
    flex-direction: column;
  }
 }

@media screen and (min-width: 480px) and (max-width: 1023px) {
  body{
    background: green;
    font-size: 115%;
    flex-wrap: wrap;
  }

  #small{
    width: 66%;
  }

  #medium{
    width: 33%;
  }

  #large{
    flex:1 0 100%;
  }
}

@media screen and (min-width: 1024px) {
  body{
    background: blue;
    font-size: 125%;
  }

  #small{
    width: 33%
  }
  
  #medium{
    width: 33%;
  }

  #large{
    width: 33%;
  }
}
